/* Media Queries */

/* Tablets*/

@media only screen and (min-width: 678px) {
  .container :nth-child(1) .inner-grid .picture {
    order: 1;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .inner-grid .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-grid .content .wrapper {
    width: 85%;
    margin: 0 auto;
  }

  .inner-grid p.heading {
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
  }

  .inner-grid p.info {
    text-align: left;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .inner-grid p.small {
    text-align: left;
    font-size: 0.825rem;
    margin: 1rem 0;
  }

  #picture-1 .content p.heading,
  #picture-2 .content p.heading {
    font-size: 1.725rem;
    text-align: center;
  }

  #picture-1 .content p.info,
  #picture-2 .content p.info {
    font-size: 1rem;
    text-align: center;
  }

  #third #picture-1,
  #third #picture-2 {
    height: 55vh;
  }

  .client-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .client-grid :nth-child(3) {
    grid-column: 1/-1;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Desktops */

@media only screen and (min-width: 1024px) {
  header {
    background-image: url("images/desktop-image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .inner-grid .content .wrapper {
    width: 55%;
    margin: 0 auto;
  }

  .inner-grid p.heading {
    text-align: left;
    font-size: 2.5rem;
    margin: 0;
  }

  .inner-grid p.info {
    text-align: left;
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .inner-grid p.small {
    text-align: left;
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  #third #picture-1,
  #third #picture-2 {
    height: 90vh;
  }

  #picture-1 .content,
  #picture-2 .content {
    position: absolute;
    bottom: 20px;
  }

  #picture-1 .content p.info,
  #picture-2 .content p.info {
    font-size: 1.2rem;
    text-align: center;
  }

  .client-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
  }

  .client-grid :nth-child(3) {
    grid-column: 3;
  }

  .client #title {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
}
