@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: "Barlow", sans-serif;
}

/* Header  */

header {
  background-image: url("images/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

nav {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  width: 8rem;
}

.title {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3.5rem;
  font-size: 2.6rem;
  font-weight: 900;
  color: white;
  letter-spacing: 6px;
}

.arrow {
  margin-top: 3.5rem;
  text-align: center;
}

/* Main section */

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.picture > img {
  width: 100%;
}

section > .content {
  background-color: white;
}

.wrapper {
  width: 80%;
  margin: 3rem auto;
}

p.heading {
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem 0;
}

p.info {
  color: hsl(232, 10%, 55%);
  text-align: center;
  line-height: 1.6;
}

p.small {
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  margin: 2.3rem 0;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 900;
}

#picture-1 {
  background-image: url("images/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

#picture-2 {
  background-image: url("images/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

#picture-1 .content,
#picture-2 .content {
  position: absolute;
  bottom: 10px;
}

#picture-1 .content p.heading,
#picture-1 .content p.info {
  color: hsl(167, 40%, 24%);
}

#picture-2 .content p.heading,
#picture-2 .content p.info {
  color: hsl(198, 62%, 26%);
}
#picture-1 .content p.heading,
#picture-2 .content p.heading {
  font-size: 1.725rem;
}

#picture-1 .content p.info,
#picture-2 .content p.info {
  font-size: 1rem;
}

/* Testimonials */

.client > p.small {
  color: hsl(210, 4%, 67%);
  letter-spacing: 3px;
  font-size: 1.1rem;
}

.profile > img {
  border-radius: 50%;
  margin: 2rem auto;
  width: 4.5rem;
  display: flex;
  justify-content: center;
}

.testimonials p.info {
  color: hsl(213, 9%, 39%);
  font-size: 1.2rem;
}

p.small-name {
  text-align: center;
  font-family: "Fraunces", serif;
  margin: 2.3rem 0 0.675rem 0;
  font-size: 1.175rem;
  font-weight: 900;
}

p.job {
  text-align: center;
  font-size: 0.975rem;
  color: hsl(210, 4%, 67%);
}

/* Image Grid */

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-grid > img {
  width: 100%;
}

/* Footer */

.footer {
  background-color: #90d4c5;
}

.footer .logo {
  text-align: center;
}

.footer .logo img {
  width: 11rem;
  margin-top: 1rem;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer ul {
  list-style: none;
  margin: 2rem 0;
}

.footer ul li {
  color: hsl(168, 34%, 41%);
  font-size: 1.2rem;
}

/* Icons */

.wrapper > .icons {
  margin: 6rem 0;
  text-align: center;
}

.icons > img {
  margin: 0 0.675rem;
}
