@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
}

/* Header  */

header {
  background-image: url("images/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

nav {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: white;
} */

.title {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3.5rem;
  font-size: 2.6rem;
  font-weight: 900;
  color: white;
  letter-spacing: 6px;
}

.arrow {
  margin-top: 3.5rem;
  text-align: center;
}

/* Main section */

.picture > img {
  width: 100%;
}

section > .content {
  background-color: white;
}

.wrapper {
  width: 80%;
  margin: 3rem auto;
}

p.heading {
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}

p.info {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  text-align: center;
  line-height: 1.6;
}

p.link {
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  margin: 3rem 0;
  font-size: 1rem;
  letter-spacing: 1px;
}
